[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/psemo/Desktop/Untitled 1.odt]
row=0
col=0

[/home/psemo/Desktop/brave-browser.desktop]
row=0
col=35

[/home/psemo/Desktop/Local]
row=3
col=18

[Trash]
row=0
col=18

[/]
row=1
col=18

[/home/psemo]
row=2
col=18

