[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/psemo/Desktop/Untitled 1.odt]
row=5
col=8

[/home/psemo/Desktop/brave-browser.desktop]
row=9
col=18

[/home/psemo/Desktop/Local]
row=9
col=35

[56423CB6423C9CA5]
row=3
col=35

[D2941D9A941D81E1]
row=4
col=35

[38EE1E3DEE1DF3BA]
row=5
col=35

[Trash]
row=7
col=35

[/]
row=6
col=35

[/home/psemo]
row=8
col=35

