[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/psemo/Desktop/Untitled 1.odt]
row=3
col=7

[/home/psemo/Desktop/brave-browser.desktop]
row=8
col=19

[/home/psemo/Desktop/Local]
row=5
col=18

[Trash]
row=6
col=18

[/]
row=7
col=18

[/home/psemo]
row=8
col=18

