[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/psemo/Desktop/temp]
row=1
col=0

[/home/psemo/Desktop/Local]
row=0
col=0

[Trash]
row=0
col=1

[/]
row=3
col=0

[/home/psemo]
row=2
col=0

