[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/psemo/Desktop/Untitled 1.odt]
row=6
col=0

[/home/psemo/Desktop/brave-browser.desktop]
row=5
col=0

[/home/psemo/Desktop/Local]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/psemo]
row=2
col=0

